:root {
  --color-bg-block: rgb(163, 22, 116);
  --color-bg-time: cornflowerblue;

  --color-border-button: rgb(6, 6, 187);
  --color-hover-button: rgb(115, 115, 199);
  --border-radius-button: 20px;
  --transition-duration: .3s;
}
